<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="css/main.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
    <title>Home</title>
</head>
<body>
        <nav class="navbar navbar-expand-lg navbar-light bg-info" >
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                  <a class="navbar-brand" href="#"><img src="images/logo.jpg"/></a>
                  <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                      <a class="nav-link text-light" href="/index">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link text-light" href="/about">about</a>
                    </li>
                    <li class="nav-item">
                            <a class="nav-link text-light" href="/contact">contact</a>
                        </li>
                  </ul>
                  <ul class="navbar-nav mr-auto mt-2 mt-lg-0 offset-4">
                      <li class="nav-item active">
                        <a class="nav-link text-light disabled" href="#" href="#"><i class="fa fa-phone mr-2"></i>+234(0)8099442608 <span class="sr-only">(current)</span></a>
                      </li>
                      <li class="nav-item">
                              <a class="nav-link text-light" href="#"><i class="fa fa-envelope mr-2"></i>coparaeke@yahoo.com</a>
                          </li>
                    </ul>
                </div>
              </nav>
             <div class="container-fluid">
                 <div class="row">
                     <div class="col-md-12">
                         <img src="images/laptop.jpg" width="100%" />  
                 </div>
                    <div class="col-md-6">
                      <h1 style="margin-top:-40%; color:white; animation-duration:5s" class=" wow bounce"> Do you desire a website built with a touch of professionalism</h1>
                      <button class="btn bg-info wow rubberBand" onclick="hello()" id="demo">You are in the right place</button>
                    </div>     
                </div>
            </div>
            <div class="container">
                    <h1  class="offset-4 p-3 text-info"> What We Do?</h1>
                  </div>
                <div class="container-fluid" >
                     <div class="row" >
                         <div class="col-md-4 wow bounceInLeft">
                             <img src="images/design.jpg" width="100%"/>
                             <h4 class="text-info mt-4">We design great web pages for you</h4>
                          </div>
                          <div class="col-md-4 wow fadeIn ">
                              <img src="images/development.jpg" width="100%"/>
                              <h4 class="text-info mt-4">Our web development skills are top notch</h4>
                           </div>
                           <div class="col-md-4  wow bounceInRight">
                              <img src="images/database.jpg" width="100%"/>
                              <h4 class="text-info mt-4">We help move important information to a safe place(database)</h4>
                           </div>
                         </div>
                      </div>

                      <div class="container-fluid mt-4 bg-secondary" id="footer" >
                          <div class="row" >
                              <div class="col-md-4 p-3 wow bounceInLeft" >
                                  <h3>PAGES</h3>
                                  <p>HOME</p>
                                  <p>ABOUT</p>
                                  <p>CONTACT</p>
                                  <a href="https://web.facebook.com/oparaeke.chukwuma" target=”_blank”  class="fa fa-facebook" id="facebook"></a>
                                  <a href="https://www.linkedin.com/in/chukwuma-oparaeke-63510997/" target=”_blank” class="fa fa-linkedin" id="linkedin"></a>
                                  <a href="#" class="fa fa-yahoo" id="yahoo"></a>
                               </div>
                               <div class="col-md-4 p-3 wow fadeIn ">
                                  <h3>SERVICES</h3>
                                  <p>WEBSITE DESIGN</p>
                                  <p>WEBSITE DEVELOPMENT</p>
                                  <p>FRONT AND BACKEND JOBS</p>
                                </div>
                                <div class="col-md-4 p-3  wow bounceInRight">
                                    <h3>ADDRESS</h3>
                                    <p> Block 12, plot 124 tarred road grace land estate. Isheri olofin.Lagos</p>
                                    <p> Block G, flat 2, phil kruz estate, Fct</p>
                                    <p>+234(0)8099442608)</p>
                                    <p>+234(0)8050536037)</p>
                                </div>
                              </div>
                           </div>
                      
                           

                        
              
                


            
      
           
            



                  
     <script src="main/app.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
    <script>
     new WOW().init();
     </script>
</body>
</html>